/*--------------------------------------------------------------
# noscrollbar
--------------------------------------------------------------*/

body::-webkit-scrollbar{
	display: none;

}

/*--------------------------------------------------------------
# Cursor
--------------------------------------------------------------*/
html {
    cursor:url(Arrow.cur),auto;}
	
a {
    cursor:url(aero_arrow.cur),auto;}
	
.clickable {
	cursor:url(aero_arrow.cur),auto !important;}


html *
{
   font-family: "Hanken Grotesk", sans-serif !important;
   text-decoration: none;
}

h1{
    font-size: 70px !important;
}

h3{
    font-size: 65px;
}
	
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/*-------

.back2top {
	background-color: rgba(82, 136, 220, 0.5);
    margin: 30px;
	width: 50px;
	height: 50px;
    transition: 0.3s;
}

.back2top:hover{
	scale: 1.2;
    transition: 0.3s;
}

-------*/

/*--------------------------------------------------------------
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Gallery button backgroung color
--------------------------------------------------------------*/
.colorizeleft {
	background-image: linear-gradient(to right, #ffffff40 ,  #00000000);
	opacity: 0;
	transition: all 0.3s;
}

.colorizeright {
	background-image: linear-gradient(to right, #00000000 ,  #ffffff40);
	opacity: 0;
	transition: all 0.3s;
}

.colorizeleft:hover {
	opacity: 1;
	transition: all 0.3s;
}

.colorizeright:hover {
	opacity: 1;
	transition: all 0.3s;
}
/*--------------------------------------------------------------
# ???
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# BENTO GRID
--------------------------------------------------------------*/
.container2 {  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  gap: 20px 20px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "title title title title title title title title mood2 mood2 mood2 mood2 mood2 mood2 mood2 mood4 mood4 mood4 mood4 mood4"
    "title title title title title title title title mood2 mood2 mood2 mood2 mood2 mood2 mood2 mood4 mood4 mood4 mood4 mood4"
    "title title title title title title title title mood2 mood2 mood2 mood2 mood2 mood2 mood2 mood4 mood4 mood4 mood4 mood4"
    "xtra1 xtra1 xtra1 mood1 mood1 mood1 mood1 mood1 mood2 mood2 mood2 mood2 mood2 mood2 mood2 mood5 mood5 mood5 mood5 mood5"
    "xtra1 xtra1 xtra1 mood1 mood1 mood1 mood1 mood1 mood2 mood2 mood2 mood2 mood2 mood2 mood2 mood5 mood5 mood5 mood5 mood5"
    "xtra1 xtra1 xtra1 mood1 mood1 mood1 mood1 mood1 mood3 mood3 mood3 mood3 mood3 mood3 mood3 mood5 mood5 mood5 mood5 mood5"
    "xtra1 xtra1 xtra1 mood1 mood1 mood1 mood1 mood1 mood3 mood3 mood3 mood3 mood3 mood3 mood3 mood5 mood5 mood5 mood5 mood5"
    "xtra1 xtra1 xtra1 mood1 mood1 mood1 mood1 mood1 mood3 mood3 mood3 mood3 mood3 mood3 mood3 mood6 mood6 mood6 mood6 mood6"
    "xtra1 xtra1 xtra1 xtra2 xtra2 xtra2 xtra2 xtra2 mood3 mood3 mood3 mood3 mood3 mood3 mood3 mood6 mood6 mood6 mood6 mood6"
    "xtra1 xtra1 xtra1 xtra2 xtra2 xtra2 xtra2 xtra2 mood3 mood3 mood3 mood3 mood3 mood3 mood3 mood6 mood6 mood6 mood6 mood6";
}

.title { grid-area: title; }

.xtra1 { grid-area: xtra1; }

.xtra2 { grid-area: xtra2; }

.mood1 { grid-area: mood1; }

.mood2 { grid-area: mood2; }

.mood3 { grid-area: mood3; }

.mood4 { grid-area: mood4; }

.mood5 { grid-area: mood5; }

.mood6 { grid-area: mood6; }


.container3 {  display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    justify-content: stretch;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "momma momma momma momma momma momma momma m-emo m-emo m-emo m-emo m-emo kid2 kid2 kid2 kid2 kid2 kid2 kid2 kid2"
      "momma momma momma momma momma momma momma m-emo m-emo m-emo m-emo m-emo kid2 kid2 kid2 kid2 kid2 kid2 kid2 kid2"
      "momma momma momma momma momma momma momma m-emo m-emo m-emo m-emo m-emo kid2 kid2 kid2 kid2 kid2 kid2 kid2 kid2"
      "momma momma momma momma momma momma momma k3-emo k3-emo k3-emo k1-emo k1-emo k1-emo k1-emo k2-emo k2-emo k2-emo k2-emo k2-emo k2-emo"
      "momma momma momma momma momma momma momma k3-emo k3-emo k3-emo k1-emo k1-emo k1-emo k1-emo k2-emo k2-emo k2-emo k2-emo k2-emo k2-emo"
      "kid3 kid3 kid3 kid3 kid3 kid3 kid3 k3-emo k3-emo k3-emo k1-emo k1-emo k1-emo k1-emo k2-emo k2-emo k2-emo k2-emo k2-emo k2-emo"
      "kid3 kid3 kid3 kid3 kid3 kid3 kid3 k3-emo k3-emo k3-emo k1-emo k1-emo k1-emo k1-emo k2-emo k2-emo k2-emo k2-emo k2-emo k2-emo"
      "kid3 kid3 kid3 kid3 kid3 kid3 kid3 k3-emo k3-emo k3-emo kid1 kid1 kid1 kid1 father father father father father father"
      "kid3 kid3 kid3 kid3 kid3 kid3 kid3 k3-emo k3-emo k3-emo kid1 kid1 kid1 kid1 father father father father father father"
      "kid3 kid3 kid3 kid3 kid3 kid3 kid3 k3-emo k3-emo k3-emo kid1 kid1 kid1 kid1 father father father father father father";
  }
  
  .momma { grid-area: momma; }
  
  .kid3 { grid-area: kid3; }
  
  .m-emo { grid-area: m-emo; }
  
  .k3-emo { grid-area: k3-emo; }
  
  .kid2 { grid-area: kid2; }
  
  .k1-emo { grid-area: k1-emo; }
  
  .kid1 { grid-area: kid1; }
  
  .father { grid-area: father; }
  
  .k2-emo { grid-area: k2-emo; }

  .container4 {  display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "mood1 mood1 mood1 mood1 mood1 mood1 mood4 mood4 mood4 mood4 mood4 mood4 mood4 mood4 mood5 mood5 mood5 mood5 mood5 mood5"
      "mood1 mood1 mood1 mood1 mood1 mood1 mood4 mood4 mood4 mood4 mood4 mood4 mood4 mood4 mood5 mood5 mood5 mood5 mood5 mood5"
      "mood1 mood1 mood1 mood1 mood1 mood1 mood4 mood4 mood4 mood4 mood4 mood4 mood4 mood4 mood5 mood5 mood5 mood5 mood5 mood5"
      "mood2 mood2 mood2 mood2 mood2 mood2 mood4 mood4 mood4 mood4 mood4 mood4 mood4 mood4 mood5 mood5 mood5 mood5 mood5 mood5"
      "mood2 mood2 mood2 mood2 mood2 mood2 mood4 mood4 mood4 mood4 mood4 mood4 mood4 mood4 mood7 mood7 mood7 mood7 mood7 mood7"
      "mood2 mood2 mood2 mood2 mood2 mood2 mood6 mood6 mood6 mood6 mood6 mood6 mood6 mood6 mood7 mood7 mood7 mood7 mood7 mood7"
      "mood2 mood2 mood2 mood2 mood2 mood2 mood6 mood6 mood6 mood6 mood6 mood6 mood6 mood6 mood7 mood7 mood7 mood7 mood7 mood7"
      "mood3 mood3 mood3 mood3 mood3 mood3 mood6 mood6 mood6 mood6 mood6 mood6 mood6 mood6 mood8 mood8 mood8 mood8 mood8 mood8"
      "mood3 mood3 mood3 mood3 mood3 mood3 mood6 mood6 mood6 mood6 mood6 mood6 mood6 mood6 mood8 mood8 mood8 mood8 mood8 mood8"
      "mood3 mood3 mood3 mood3 mood3 mood3 mood6 mood6 mood6 mood6 mood6 mood6 mood6 mood6 mood8 mood8 mood8 mood8 mood8 mood8";
  }
  
  .mood1 { grid-area: mood1; }
  
  .mood2 { grid-area: mood2; }
  
  .mood3 { grid-area: mood3; }
  
  .mood4 { grid-area: mood4; }
  
  .mood6 { grid-area: mood6; }
  
  .mood5 { grid-area: mood5; }
  
  .mood7 { grid-area: mood7; }
  
  .mood8 { grid-area: mood8; }
  



  /*--------------------------------------------------------------
  # BENTO RESPONSIVE
  --------------------------------------------------------------*/

	/*	------ BENTO CONTAINER 2 -------	*/

	@media (max-width: 1421px){
		.container2 {
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
	gap: 15px 15px;
		}
	}
	@media (max-width: 1098px){
		.container2 {
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
	gap: 10px 10px;
		}

	}
	
	@media (max-width: 794px){
		.container2 {
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
	gap: 5px 5px;
		}

	}
	
	@media (max-width: 496px){
		.container2 {
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
    grid-template-rows: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
	gap: 3px 3px;
		}

	}
	
	
	
	/*	------ BENTO CONTAINER 3 -------	*/
	
	
	
	@media (max-width: 1421px){
		.container3 {
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
	gap: 15px 15px;
		}
	}
	@media (max-width: 1098px){
		.container3 {
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
	gap: 10px 10px;
		}

	}
	
	@media (max-width: 794px){
		.container3 {
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
	gap: 5px 5px;
		}

	}
	
	@media (max-width: 496px){
		.container3 {
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
    grid-template-rows: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
	gap: 3px 3px;
		}

	}

    @media (max-width: 1421px){
		.container4 {
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
	gap: 15px 15px;
		}
	}
	@media (max-width: 1098px){
		.container4 {
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
	gap: 10px 10px;
		}

	}
	
	@media (max-width: 794px){
		.container4 {
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
	gap: 5px 5px;
		}

	}
	
	@media (max-width: 496px){
		.container4 {
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
    grid-template-rows: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
	gap: 3px 3px;
		}

	}



  /*--------------------------------------------------------------
  # BENTO COLOR TEST
  --------------------------------------------------------------*/
  .bg1 {
      background-color: purple;
  }
  
  .bg2 {
      background-color: blue;
  }
  .bg3 {
      background-color: yellow;
  }
  .bg4 {
      background-color: red;
  }
  .bg5 {
      background-color: green;
  }
  .bg6 {
      background-color: teal;
  }
  .bg7 {
      background-color: black;
  }
  .bg8 {
      background-color: white;
  }
  .bgnone {
      background-color: #00000000;
      border: #00000000;
	  background-size:0px;
  }
  
  /*--------------------------------------------------------------
  # BENTO MOODBOARD BACKGROUND IMAGE 1
  --------------------------------------------------------------*/
  
  .modalbg1 {
      background: url('images/moodboard1.JPG') black;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
  }
    
  .modalbg2 {
      background: url('images/moodboard2.JPG') black;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
  }
    
  .modalbg3 {
      background: url('images/moodboard3.JPG') black;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
  }
    
  .modalbg4 {
      background: url('images/moodboard4.JPG') black;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
  }
    
  .modalbg5 {
      background: url('images/moodboard5.JPG') black;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
  }
    
  .modalbg6 {
      background: url('images/moodboard1.JPG') black;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
  }
    
  .modalbg7 {
      background: url('images/moodboard1.JPG') black;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
  }
    
  .modalbg8 {
      background: url('images/moodboard1.JPG') black;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
  }
  
  /*--------------------------------------------------------------
  # ???
  --------------------------------------------------------------*/

    /*--------------------------------------------------------------
  # BENTO MOODBOARD BACKGROUND IMAGE 2
  --------------------------------------------------------------*/
  
.bento2bg1 {
    background: url('images/nanay.png') white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento2bg2 {
    background: url('images/adult.png') white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento2bg3 {
    background: url('images/nanay face.png') white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento2bg4 {
    background: url('images/adult face-01.png') white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento2bg5 {
    background: url('images/teen.png') white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento2bg6 {
    background: url('images/kid face.png') white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento2bg7 {
    background: url('images/young.png') white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento2bg8 {
    background: url('images/tatay.png') white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bento2bg9 {
    background: url('images/teen face.png') white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*--------------------------------------------------------------
# ???
--------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # BENTO MOODBOARD BACKGROUND IMAGE 3
  --------------------------------------------------------------*/
  
.bento3bg1 {
    background: url('images/mood1.png') black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: ;
}
  
.bento3bg2 {
    background: url('images/mood2.PNG') black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento3bg3 {
    background: url('images/mood3.PNG') black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento3bg4 {
    background: url('images/mood4.PNG') black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento3bg5 {
    background: url('images/mood5.png') black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento3bg6 {
    background: url('images/mood6.png') black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento3bg7 {
    background: url('images/mood7.png') black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.bento3bg8 {
    background: url('images/mood8.png') black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bento3bg9 {
    background: url('images/mood8.png') black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*--------------------------------------------------------------
# ???
--------------------------------------------------------------*/
  
  .hoverlight {
      scale: 1;
      transition: all 0.3s !important;
  }
  
  .hovermed {
      scale: 1;
      transition: all 0.3s !important;
  }
  
  .hoverheavy {
      scale: 1;
      transition: all 0.3s !important;
  }
  
  .hoverlight:hover {
      scale: 1.05;
      transition: all 0.3s !important;
  }
  
  .hovermed:hover {
      scale: 1.1;
      transition: all 0.3s !important;
  }
  
  .hoverheavy:hover {
      scale: 1.3;
      transition: all 0.3s !important;
  }
  
  .rounded2 {
	  border-radius:20px;
  }

/* -----------------------------------------------------------
                    slider carousel start
    ----------------------------------------------------------*/
.slider_preview{
    display: inline-block;
    animation: slide 30s infinite linear;
    
}

.preview{
    overflow: hidden;
    padding: 60px 0px;
    background: #041E5F;
    white-space: nowrap;
}

.slider_preview img{
    height:  400px;
    margin: 0px 30px;
}
/*
.preview:hover .slider_preview{
    animation-play-state: paused;
}*/

@keyframes slide {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
	
	.img100 {
		transition: 0.5s;
	}
	
	
	.img100:hover {
		transform: scale(1.05);
	}
	
	/* gradient shadows */
	
	.sliderr::before,
	.sliderr::after {
		
		
		height: 100%;
		position: relative;
		width: 15%;
		z-index: 100;
	}
	
	.sliderr::before {
		left: 0;
		top: 0;
	}
	
	.sliderr::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}
	
	@media (max-width: 992px){
		.sliderr {
			height: 400px;
		}

		.slidee{
			width: 500x;
		}
		
		.slide-track {
			width: calc(600px * 8);
		}
	}
	
	@media (max-width: 767px){
		.slider_preview img {
			height: 200px;
		}
		
	}
/* -----------------------------------------------------------
                    slider carousel end
    ----------------------------------------------------------*/

/* -----------------------------------------------------------
                    webpage background
    ----------------------------------------------------------*/

.bg{
	background-color: #e0d1b9;
}
/* -----------------------------------------------------------
                    NAVIGATION BAR
    ----------------------------------------------------------*/

header .navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 10px 10%;
    width: 100%;
    height: 80px;
    z-index: 100;
}

header .navbar ul{
    position: absolute;
    margin-right: 10%;
    display: flex;
    right: 0;
}

header .navbar ul li{
    position: relative;
    margin-top: 15px;
    list-style: none;
	transition: 0.3s !important;
}

header .navbar ul li a{
    position: relative;
    transition: 0.5s ease-in;
    margin: 0px 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
	transition: 0.3s !important;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: normal;
}

header .navbar ul li a:hover{
    color: #FFF7C5;
    transition: 0.3s !important;
    font-weight: bolder;
}
.icons{
    display: none;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}



/* -----------------------------------------------------------
                    BURGER
    ----------------------------------------------------------*/

.navbar .icons{
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    right: 0;
    margin-right: 10%;
}
/* DROPDOWN MENU */
.dropdown_menu{
    /*display: none;*/
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0px;
    width: 300px;
    background: #fdf8e3;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 150px;
    text-decoration: none;
}

.dropdown_menu.open li a{
    text-decoration: none;
    font-weight: bolder;
    color: #041E5F;
    font-family: "Hanken Grotesk", sans-serif;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




    /* RESPONSIVE */
    @media (max-width: 992px){
        .icons{
            display: inline-flex;
            right: 10%;
        }
        .navbar ul li a{
            display: none;
        }

    }

    @media (max-width: 576px){
        .dropdown_menu{
            left: 2rem;
            width: unset;
        }
      .cardteam{
        scale: 0.5 ;
      }
    }

.drop1{
    text-decoration: none;
    font-weight: bolder;
    color: #041E5F;
    font-family: "Hanken Grotesk", sans-serif;
}





/* -----------------------------------------------------------
                   LOGO
    ----------------------------------------------------------*/
.logoSize{
    position: absolute;
    transform: translate(0, 0);
    left: 10%;
    top: 40px;
    width: 40vw;
    height: auto;
    transition: 1.0s ;
    fill: #FFF7C5;

    animation-name: animate;
    animation-duration: 2.0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
.grouplogoDIV{
    position: absolute;
    left: 10%;
    width: 400px;
    margin: 0;
}


@keyframes animate{
    0%{
        filter:
        drop-shadow(0px 0px 3px #FFFF80)
        drop-shadow(0px 0px 4px #FFFF40)
        drop-shadow(0px 0px 5px blue));
    }

    100%{
        filter:
        drop-shadow(0px 0px 4px #FFFF80)
        drop-shadow(0px 0px 5px yellow)
        drop-shadow(0px 0px 6px blue);

    }
}

header.sticky .navbar .logoSize{
    position: absolute;
    top: 15px;
    width: 200px;
    left: 10%;
    fill: white;
    animation-name: none;
}

/* -------------------------------
        NAV BAR STICKY
---------------------------------*/


header.sticky .navbar{
    padding: 5px 10%;
    background: #041E5F;
}

header.sticky .navbar ul li a{
    color: white;
}

header.sticky .navbar ul li a:hover{
    color: #FFF7C5;
	transition: 0.3s !important;
    font-weight: bolder;
}

/*
header.sticky .logoSize,
header.sticky ul{
    padding: 20px 100px;
}*/


/*------------------------------------
     NAVBAR END
---------------------------------------*/


/*------------------------------------
	 B2T  Back to top button v2
--------------------------------------*/
.b2t{
    
    background-color: #46a5f1;
	margin-bottom: -50px;
	margin-right: 50px;
	width: 50px;
	height: 50px;
	transition: 1s;
    z-index: 1000;
}
.b2t img{
    width: 25px;
}
header.sticky .b2t{
    
	margin-bottom: 50px;
	transition: 1s;
    z-index: 1000;
}
.b2t:hover{
	scale: 1.2;
	background-color: #4b3f60;
    transition: 0.3s !important;
}


/*------------------------------------
        B2T END
--------------------------------------*/

/*-----------------------------------
            FOOTER
------------------------------------*/
footer{
    background-color: #041E5F;
    width: 100%;
    height: 100px;
}

hr {
    color: #fdf8e3;
    margin: 15px;
}

.iconsize{
    fill: #fdf8e3;
    width: 40px;
    height: 40px;
    padding: 10px 0px;
    margin-top: 5px;
}
.grouplogo{
    width: 120px;
    height: auto;
    left: 50%;
    padding-top: 5px;
}
footer p{
    font-size: 10px;
    color: #fdf8e3;
    padding-top: 5px;
}


/*-----------------------------------
            FOOTER END
------------------------------------*/


/*-----------------------------------
            TEAM CARDS
------------------------------------*/
.act_body h5{
    font-weight: bolder;
    font-size: 25px ;
}
.teamcard{
    padding: 15px;
}

.teamcardout{
    padding: 20px;
    background-color: #fdf8e3;
}

.teamcardout img{
    border-radius: 100%;
    
}
.shadow{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.EPcard{
    border-radius: 20px;
}

.EPcardouter{
    padding: 20px;
    background-color: #fdf8e3;
}

/*-----------------------------------
            TEAM CARDS
------------------------------------*/

.calign{
    align-items: center !important;
}

.poster{
    width: auto;
    height: 100vh;
}

.posterbg{
    background-image: url('images/LUNGGATI POSTER.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	width: auto;
    height: 110vh;
  }
  
.100max {
    width: 100vw;
    height: 110vh;
}
  
@media (min-width: 1600px){
    .posterbg{
        height: 130vh;
		background-position: center bottom;
    }

    .100max{
        height: 130vh;
    }
}
.bglast{
    width: 100%;
    height: auto;
    background-image: url(images/bg3.jpg);
    background-size: cover;
	background-position: center bottom;
}



.slide{
    control-color: white;
}

.txtw{
	color: white;
}

.paddingLR{
    padding-left: 10%;
    padding-right: 10%;
}
.paddingLR h1{
    color: #041E5F;
    font-weight: bold;
}
.paddingLR h3{
    color: #041E5F;
}


.epbox{
 margin-bottom: 15px;
}


