.bg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/BG.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgba(82, 136, 220, 0.5);
    z-index: 100;
}

.navbarmenu{
    color: bisque;
    font-weight: bold;
    left: 0;
    letter-spacing: 2px;
}

.navbarmenu:hover{
    color: rgb(113, 167, 15);
    scale: 1.5;
    transition: 0.2s ease-in-out;
}
a{
    color: wheat ;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    transition: 0.2s ease-in-out;
    color: beige;
    scale: 1.5;

}

.logoSize{
    width: 210px;
    height: auto;
}

.calign{
    align-items: center;
}

.poster{
    width: 100%;
    height: auto;
    
}

.slide{
    control-color: white;
}